# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtualenv
venv/
ENV/
env/
.venv/

# ==========================================
# Django
# ==========================================
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
.local/

# Django Migrations (se quiser versionar, remova a linha abaixo)
*/migrations/__pycache__/
*/migrations/*.py

# ==========================================
# IDEs e editores
# ==========================================
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# ==========================================
# Sistema Operacional
# ==========================================
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~
.cache
