{% extends 'socialaccount/base_entrance.html' %}
{% load i18n %}

{% block title %}{% block head_title %}{% trans "Escolha seu perfil" %}{% endblock %}{% endblock %}

{% block entrance_content %}
  <div class="auth-neo__oauth">
    <span class="auth-neo__eyebrow">{% trans "Continuar com Google" %}</span>
    <a class="auth-neo__ghost" href="/app/login/google/seller/">{% trans "Sou vendedor" %}</a>
    <a class="auth-neo__ghost" href="/app/login/google/customer/">{% trans "Sou cliente" %}</a>
  </div>
{% endblock %}
